body{
  margin: 0;
  font-family: Roboto, sans-serif;
}

.game-board{
  display: grid;
  width: 100vw;
  height: 100vh;
  background-color: rgb(78, 82, 196);
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, auto);
}

.cell{
  display: flex;
  width: 100px;
  height: 100px;
  border: 1px solid rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
}

.cell:hover{
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3)
{
  border-top: none;
}

.cell:nth-child(3n + 1){
  border-left: none;
}

.cell:nth-child(3n+3){
  border-right: none;
}

.cell:nth-child(9),
.cell:nth-child(8),
.cell:nth-child(7)
{
  border-bottom: none;
}

.cross1{
  width: 50px;
  border-top: 2px solid rgb(255, 255, 255);
  transform: rotate(45deg);
}
.cross2{
  width: 50px;
  border-bottom: 2px solid rgb(255, 255, 255);
  transform: rotate(135deg);
}

.circle{
  height: 50px;
  width: 50px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 27px;
}

.gameOver{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.516);
}

.winMessage{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 32px;
  height: 50vh;
  width: 50vw;
  min-width: 400px;
  min-height: 400px;
  color: goldenrod;
  background-color: rgb(19, 11, 62);
  border-radius: 30px;
}

.winMessage > h1 {
  margin-bottom: 0;
}

.winMessage > button{
  width: 200px;
  height: 50px;
  background-color: rgb(4, 234, 214);
  color: black;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  transition: 0.5s;
}

.winMessage > button:hover{
  cursor: pointer;
  opacity: 0.7;
}