*{
  margin: none;
  font-family: 'Courier New', Courier, monospace;
  cursor: default;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(white, rgb(0, 204, 255));
}

#validator{
  height: 70vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2em;
  padding: 20px;
  border: 4px solid black;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  border-radius: 12px;
  background: radial-gradient(rgb(81, 245, 188) 10%, black 140%);
}

#input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2em;
  position: relative;
  top: -70px;
}

#input input{
  background-color: rgba(52, 52, 52, 0.493);
  border: none;
  border-radius: 10px;
  min-width: 200px;
  max-width: 300px;
  height: 20px;
  padding: 4px;
  color: white;
  font-weight: 550;
  cursor:text;
}

#user-input:hover{
  box-shadow: 0 0 6px 4px rgba(255, 255, 255, 0.539);
}

#input input:focus{
  outline: none;
  box-shadow: 0 0 6px 4px rgba(255, 255, 255, 0.539);
}

.camera{
  border: 6px solid rgb(0, 0, 0);
  border-radius: 8px;
  position: relative;
  top: -9px;
}

.volBtn{
  border: 3px solid rgb(0, 0, 0);
  height: 33px;
  position: relative;
  right: -127px;
  border-radius: 2px;
}
.volBtn2{
  border: 3px solid rgb(0, 0, 0);
  height: 63px;
  position: relative;
  right: -127px;
  border-radius: 2px;
}

#check-btn, #clear-btn {
  background: radial-gradient(rgb(42, 190, 42), rgb(0, 255, 128) 170%);
  border: none;
  border-radius: 12px;
  width: 80px;
  height: 30px;
  font-weight: 600;
  color: black;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#clear-btn {
  background: radial-gradient(rgb(253, 74, 74), rgb(255, 147, 147) 170%);
}

#check-btn:hover,
#clear-btn:hover {
  cursor: pointer;
  box-shadow: 0 0 6px 4px rgba(5, 5, 5, 0.539);
  color: white;
}


#validator legend{
  font-size: 1.1rem;
  font-weight: bold;
}

h2{
  position: relative;
  top: -60px;
}

#results-div{
  background-color: rgba(52, 52, 52, 0.493);
  border: none;
  border-radius: 10px;
  width: 200px;
  padding: 4px;
  height: 100px;
  position: relative;
  top: -90px;
  text-wrap: wrap;
  text-align: center;
  font-weight: 550;
  display: flex;
  align-items: center;
}