* {
  font-family: 'Orbitron', Times, serif;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  background: radial-gradient(white, rgb(219, 156, 156));
}

#search-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: rgb(255, 179, 47);
  padding: 10px;
  border-radius: 20px;
}

#search-input{
  padding: 8px;
  border: none;
  border-radius: 8px;
  background-color: #f4f4f4b9;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

#search-input:hover{
  box-shadow: 0 0 8px 3px rgba(52, 33, 0, 0.66);
}

#search-input:focus{
  outline: none;
  box-shadow: 0 0 8px 3px rgba(52, 43, 0, 0.66);
}

#search-button{
  padding: 10px;
  border: none;
  border-radius: 7px;
  background-color: rgb(128, 255, 128);
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

#search-button:hover{
  cursor: pointer;
  background-color: rgb(56, 156, 29);
  color: white;

}

.card{
  background-color: rgb(255, 66, 66);
  padding: 25px;
  border-radius: 30px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display{
  height: 33vh;
  width: 100%;
  max-width: 300px;
  background-color: whitesmoke;
  border-radius: 8px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.name{
  width: 100%;
  display: flex;
  position: relative;
  justify-content: left;
  gap: 10px;
  padding-left: 20px;
  padding-top: 4px;
}

.name *{
  background-color: rgb(255, 159, 99);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 500;
}

#sprite-container{
  width: 94%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sprite{
  height: 120%;
  padding: 10%;
}

.card table th, .card table td{
  text-align: left;
  border-radius: 4px;
  padding: 4px 16px;
  background-color: rgba(126, 0, 0, 0.817);
  color: white;
}

.bottom{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.h-w *{
  background-color: rgb(223, 255, 39);
  padding: 2px 4px;
  border-radius: 4px;
  margin: 4px;
}

#types{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.type {
  width: 66px;
  padding: 5px;
  font-size: 0.7rem;
  text-align: center;
  border-radius: 5px;
  background-color: red;
  text-transform: uppercase;
}

.normal {
  background-color: #b7b7aa;
}

.fire {
  background-color: #ff6f52;
}

.water {
  background-color: #42a1ff;
}

.electric {
  background-color: #fecc33;
}

.grass {
  background-color: #78cc55;
}

.ice {
  background-color: #66ccfe;
}

.fighting {
  background-color: #d3887e;
}

.poison {
  background-color: #c68bb7;
}

.ground {
  background-color: #dfba52;
}

.flying {
  background-color: #8899ff;
}

.psychic {
  background-color: #ff66a3;
}

.bug {
  background-color: #aabb23;
}

.rock {
  background-color: #baaa66;
}

.ghost {
  background-color: #9995d0;
}

.dragon {
  background-color: #9e93f1;
}

.dark {
  background-color: #b59682;
}

.steel {
  background-color: #abaabb;
}

.fairy {
  background-color: #ed99ed;
}